header
  .header-content
    h1.center PEOPLE 
    nav
      ul
        if loginUser
          li
            a(href='/me') #{loginUser.name}
          li
            button.logout-btn(type='button') Log out
        else 
          li: a(href='/login') Login
          li: a(href='/signup') Sign Up
    form(action='/search', method='GET')
      input(type='text', placeholder='Search...', name='query')
      button(type='submit') Search
