header
  .header-content
    h1.center 
      if loginUser 
        a(href='/users') PEOPLE
      else 
        a(href='/login') PEOPLE
    nav
      ul
        if loginUser
          li
            a(href='/me') #{loginUser.name}
            // Circular display photo container
            .form__user-photo-container
              img.form__user-photo(src=`/img/users/${loginUser.displayPhoto}`, alt="user photo")
          li
            button.logout-btn(type='button') Log out
          li
            a(href='/createPost') Create Post
          li
            a(href='/feed') Feed
        else 
          li: a(href='/login') Login
          li: a(href='/signup') Sign Up
    form(action='/search', method='GET' id='searchForm')
      input(type='text', placeholder='Search...', name='query', id='searchInput')
      button(type='submit') Search
    div#searchResults.search-results

