extends base

block content 
    each user in users
        .user-link
            img.user-display-photo.small-profile(src=`/img/users/${user.displayPhoto}`, alt="user photo")
            a(href=`/user/${user.username}/messages`) #{user.name}
